.bm-contact {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.bm-contact h2 {
	text-align: center;
	padding-top: 30px;
    font-size: 40px;
}

.bm-contact span {
	color: crimson;
	font-weight: bolder;
}

.bm-contact form {
	margin: 0;
    font-size: 14px;
    line-height: normal;
    font-weight: normal;
    text-align: center;
}

.bm-contact form {
	top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40%;
}

.bm-contact form button {
	width: 30%;
}

@media screen and (max-width: 950px) {
    .bm-contact {
        position: absolute;
        padding: 0;
    }
}

@media screen and (max-width: 650px) {
    .bm-contact h2 {
        font-size: 32px;
        padding-top: 10px;
    }

    .bm-contact form {
        font-size: 10px;
    }
}

@media screen and (max-width: 550px) {
	.form-control {
		padding: 0;
		padding-left: 5px;
		font-size: unset;
    }
    
    .bm-contact form {
        width: unset;
        left: 49%;
    }

}