.bm-contact {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.bm-contact h2 {
	text-align: center;
	padding-top: 30px;
    font-size: 40px;
}

.bm-contact span {
	color: crimson;
	font-weight: bolder;
}

.bm-contact form {
	margin: 0;
    font-size: 14px;
    line-height: normal;
    font-weight: normal;
    text-align: center;
}

.bm-contact form {
	top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40%;
}

.bm-contact form button {
	width: 30%;
}

.bm-contact form p {
    padding-top: 20px;
    font-size: 18px;
    
}

.bm-contact form p a {
    text-decoration: none;
    color: crimson;
}

.bm-contact .alert {
    z-index: 1;
    line-height: normal;
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .bm-contact {
        position: absolute;
        padding: 0;
    }
}

@media screen and (max-width: 650px) {
    .bm-contact h2 {
        font-size: 32px;
        padding-top: 10px;
    }

    .bm-contact form {
        font-size: 10px;
    }
}

@media screen and (max-width: 550px) {
	.form-control {
		padding: 0;
		padding-left: 5px;
		font-size: unset;
    }
    
    .bm-contact form {
        width: unset;
        left: 49%;
    }

    .bm-contact form p {
        padding-top: 10px;
        font-size: unset;
    }
}

@media screen and (max-height: 760px) {
    .bm-contact h2 {
        padding-top: 0;
    }

    .bm-contact form {
        font-size: 12px;
    }

    .bm-contact form .form-group {
        margin-bottom: 0.2rem;
    }

    .bm-contact form .form-group .form-control {
        font-size: 0.5rem;
    }
}