body {
	background-color: rgb(31, 31, 31) !important;
	font-family: Arial !important;
}

.bm-landing {
	height: 100vh;
	width: 100vw;
	position: absolute;
}

.bm-landing div {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.bm-landing h1 {
	color: white;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 70px;
	font-weight: bolder;
	z-index: 1;
}

.bm-landing h1 span {
	color: crimson;
}

.bm-landing canvas {
	height: 100vh !important;
	width: 100vw !important;
}

.bm-landing button {
	position: relative;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

@media screen and (max-width: 650px) {
	.bm-landing h1 {
		font-size: 42px;
	}
}